notebooks/Interacting_with_CLIP.ipynb
notebooks/07-hugging-face-for-skills.ipynb
notebooks/audiocraft-demo.ipynb
notebooks/Transformers_can_do_anything.ipynb
notebooks/Chatbot_Arena_Elo_Ratings_Calculation_(May_22%2C_2023).ipynb
env.example
