OPENAI_API_KEY=""
OPENAI_ORG_ID=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_FOLDER=""
MONGODB_URI=""
MONGODB_DATABASE=""
MONGODB_COLLECTION=""
STABILITY_API_KEY=""
RAPIDAPI_KEY=""
