## Mandatory
P_MONGODB_URI=""
P_MONGODB_DATABASE=""

## Optional
OPENAI_API_KEY=""
OPENAI_ORG_ID=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_FOLDER=""
MONGODB_URI=""
MONGODB_DATABASE=""
STABILITY_API_KEY=""
RAPIDAPI_KEY=""
USE_MONGODB_CONFIG=""
OPENAI_API_VERSION="2020-11-07"
AZURE_OPENAI_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_DEPLOYMENT_NAME=""
LANGUAGE_MODEL_API_KEY=""