git+https://github.com/huggingface/transformers
openai
requests
gradio
Pillow
cloudinary
pymongo
numpy
torch
diffusers
accelerate
transformers
gpt3-tokenizer
wikipedia
langchain
gradio-tools
