git+https://github.com/huggingface/diffusers
git+https://github.com/huggingface/transformers
git+https://github.com/google/flax.git
jaxlib
openai
google-generativeai
google-cloud-aiplatform
stability-sdk
assemblyai
elevenlabs
requests
gradio
Pillow
cloudinary
pymongo
numpy
diffusers
transformers
scipy
--extra-index-url https://download.pytorch.org/whl/cu113 
torch
torchvision
torchaudio
accelerate
gpt3-tokenizer
wikipedia
langchain
gradio-tools
guidance
youtube-transcript-api
pytube
scikit-learn
unstructured
pdf2image
pandas
chromadb
tiktoken
arxiv
youtube-search
jax
flax
speechbrain